{%extends 'layout/statistics_layout.html'%}
{% load static %}

{%block title%}성별 회원 통계 {%endblock%}


{%block style%}
    <link rel="stylesheet" href ="{% static '/css/statistics.css' %}">
    <style>
        @keyframes bake-pie {
        from {
            transform: rotate(0deg) translate3d(0,0,0);
        }
        }

        /* main {
        width: 400px;
        margin: 30px auto;
        } */
        section {
            margin-top: 30px;
            display: flex;
            align-items: flex-end;
        }
        .pieID {
        display: inline-block;
        vertical-align: top;
        }
        .pie {
        height: 200px;
        width: 200px;
        position: relative;
        margin: 0 30px 30px 0;
        }
        .pie::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        width: 100px;
        height: 100px;
        background: #d2daff;
        border-radius: 50%;
        top: 50px;
        left: 50px;
        }
        .pie::after {
        content: "";
        display: block;
        width: 120px;
        height: 2px;
        /*background: rgba(0,0,0,0.1);*/
        border-radius: 50%;
        /*box-shadow: 0 0 3px 4px rgba(0,0,0,0.1);*/
        margin: 220px auto;
        
        }
        .slice {
        position: absolute;
        width: 200px;
        height: 200px;
        clip: rect(0px, 200px, 200px, 100px);
        animation: bake-pie 1s;
        }
        .slice span {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        clip: rect(0px, 200px, 200px, 100px);
        }
        .legend {
            list-style-type: none;
            margin-top: 10px;
            padding: 15px;
            font-size: 13px;
        }
        .legend li {
        width: 110px;
        height: 1.25em;
        margin-bottom: 0.7em;
        padding-left: 0.5em;
        border-left: 1.25em solid black;
        }
        .legend em {
        font-style: normal;
        }
        .legend span {
        float: right;
        }
    </style>
{%endblock%}

{%block page%}
<div class="statistics_menu">
    <div class="cate all">
        <a class="menu_link" href="/ocr/all_statistics">ALL</a>
    </div>
    <div class="cate sex choice">
        <a class="menu_link" href="/ocr/sex_statistics">GENDER</a>
    </div>
    <div class="cate grade">
        <a class="menu_link" href="/ocr/grade_statistics">GRADE</a>
    </div>
</div>
{%endblock%}

{%block content%}
<div class="contents sex">
    <div class="gender_graph">
        <main>
            <section>
                <div class="pieID pie">
                    
                </div>
                <ul class="pieID legend">
                    <li>
                        <em>여자</em>
                        <span>{{wo_count}}</span>
                        ( {{wo_rate}} % )
                    </li>
                    <li>
                        <em>남자</em>
                        <span>{{man_count}}</span>
                        ( {{man_rate}} % )
                    </li>
                </ul>
            </section>
        </main>      
    </div>
    <div class="table_total">
        <table class="sex_table">
            <tr>
                <th class="key">구분</th>
                <th class="val">여자</th>
                <th class="val">남자</th>
            </tr>
            <tr>
                <th class="key">인원 수</th>
                <td class="val">{{wo_count}}</td>
                <td class="val">{{man_count}}</td>
            </tr>
            
            <tr>
                <th class="key">평균 연봉(원)</th>
                <td class="val">{{wo_salary}}</td>
                <td class="val">{{man_salary}}</td>
            </tr>
            <tr>
                <th class="key">평균 나이</th>
                <td class="val">{{wo_age}}</td>
                <td class="val">{{man_age}}</td>
            </tr>
            
        </table>
    </div>
</div>
{%endblock%}

{%block script%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static '/js/statistics.js' %}"></script>
<script>
    function sliceSize(dataNum, dataTotal) {
    return (dataNum / dataTotal) * 360;
    }
    function addSlice(sliceSize, pieElement, offset, sliceID, color) {
    $(pieElement).append("<div class='slice "+sliceID+"'><span></span></div>");
    var offset = offset - 1;
    var sizeRotation = -179 + sliceSize;
    $("."+sliceID).css({
        "transform": "rotate("+offset+"deg) translate3d(0,0,0)"
    });
    $("."+sliceID+" span").css({
        "transform"       : "rotate("+sizeRotation+"deg) translate3d(0,0,0)",
        "background-color": color
    });
    }
    function iterateSlices(sliceSize, pieElement, offset, dataCount, sliceCount, color) {
    var sliceID = "s"+dataCount+"-"+sliceCount;
    var maxSize = 179;
    if(sliceSize<=maxSize) {
        addSlice(sliceSize, pieElement, offset, sliceID, color);
    } else {
        addSlice(maxSize, pieElement, offset, sliceID, color);
        iterateSlices(sliceSize-maxSize, pieElement, offset+maxSize, dataCount, sliceCount+1, color);
    }
    }
    function createPie(dataElement, pieElement) {
    var listData = [];
    $(dataElement+" span").each(function() {
        listData.push(Number($(this).html()));
    });
    var listTotal = 0;
    for(var i=0; i<listData.length; i++) {
        listTotal += listData[i];
    }
    var offset = 0;
    var color = [
        "#7577FF", 
        "#eef1ff", 
        "orange", 
        "tomato", 
        "crimson", 
        "purple", 
        "turquoise", 
        "forestgreen", 
        "navy", 
        "gray"
    ];
    for(var i=0; i<listData.length; i++) {
        var size = sliceSize(listData[i], listTotal);
        iterateSlices(size, pieElement, offset, i, 0, color[i]);
        $(dataElement+" li:nth-child("+(i+1)+")").css("border-color", color[i]);
        offset += size;
    }
    }
    createPie(".pieID.legend", ".pieID.pie");

</script>
{%endblock%}