html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'IBM Plex Sans KR', sans-serif !important;
    width: 100%;
    margin: 0;
}

.main_navbar {
    display: none;
    position: absolute;
    top: 0;
    width: 23%;
    height: 100%;
    background-color: #eef1ffe3;
    float: left;
    z-index: 5;
}

.main_navbar.active {
    display: block;
    z-index: 5;
}

.main_navbar_menu {
    background: url(/static/image/menu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 5vh;
    height: 5vh;
    cursor: pointer;
    z-index: 999;
    position: absolute;
    top: 2.5%;
    left: 1.5%;
}

.main_navbar_menu.active {
    background: url(/static/image/cancel.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 5vh;
    height: 5vh;
    cursor: pointer;
    z-index: 999;
    position: absolute;
    top: 2.5%;
    left: 1.5%;
}

.main_navbar_ul {
    list-style-type: none;
    padding: 0;
}

.background {
    display: none;
    background-color: rgba(0, 0, 0, 0.679);
}

.background.active {
    display: block;
    background-color: rgba(0, 0, 0, 0.679);
}

.main_navbar_title {
    padding: 4.2% 0 2.5% 25%;
    margin: 0 0 7% 0;
    font-size: 2.5rem;
    font-weight: 600;
}

.main_navbar_title a:link,
.main_navbar_title a:visited {
    color: rgb(31, 31, 31);
    text-decoration: none;
}

.customer_title {
    margin-left: 10%;
}

.customer_menu {
    padding: 4% 25%;
    font-size: 2rem;
}

.customer_menu:hover {
    background-color: #cfd5efe3;
}

.login-icon {
    width: 23%;
    margin-right: 8%;
}

.member_menu {
    padding: 0% 6%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-top: 104%;
    float: right;
}

.menu_link:link,
.menu_link:visited {
    color: rgb(31, 31, 31);
    text-decoration: none;
}