/* body {
	background: #18222F;
} */

.header {
  text-align: center;
  margin-top: 5%;
}

.head-title {
  font-size: 2.2rem;
  font-weight: 600;
  margin: 2% 0 2% 0;
}

.contents-frame {
  display: flex;
  justify-content: center;
}

.statistics_menu {
  display: flex;
  width: 4%;
  justify-content: space-around;
  flex-direction: column;
}

.cate {
  padding: 0.7% 2%;
  height: 26%;
  border-radius: 1rem 0 0 1rem;
  writing-mode: vertical-rl;
  text-orientation: upright;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.6rem;
}

.cate.all {
  background-color: #EEF1FF;
}

.cate.sex {
  background-color: #D2DAFF;
}

.cate.grade {
  background-color: #bdc7ff;
}

.cate.all:not(.choice),
.cate.sex:not(.choice),
.cate.grade:not(.choice) {
  font-weight: 400;
  font-size: 1.3rem;
}

.contents {
  width: 75%;
}

/* .back-content {
  background-color: #FFF;
  height: 96%;
  margin: 1%;
} */

.contents.all {
  background-color: #EEF1FF;
}

.contents.sex {
  background-color: #D2DAFF;
}

.contents.grade {
  background-color: #bdc7ff;
}

.all_graph {
  display: flex;
  justify-content: center;
  padding: 12% 0 4% 0;
}

.gender_graph {
  display: flex;
  justify-content: center;
  padding: 9% 0 4% 0;
}

.grade_graph {
  display: flex;
  justify-content: center;
  padding: 9% 0 4% 0;
}

.table_total {
  display: flex;
  justify-content: center;
}

.empty-div{
  float: left;
  width: 800px;
  height: 232px;
}

.donut {
	/* position: relative; */
	/* width: 50%; */
	/* height: 300px; */
	float: left;
  padding-right: 17%;
	/* margin: auto; */
	/* top: 0; */
	/* bottom: 0; */
	/* left: 0; */
	/* right: 0; */
	/* display: flex; */
	/* flex-direction: row; */
}

/* 도넛차트 매칭성공률 */
.donut.matching {
	/* position: relative; */
	/* width: 50%; */
	/* height: 300px; */
	float: left;
  padding-right: 0;
	/* margin: auto; */
	/* top: 0; */
	/* bottom: 0; */
	/* left: 0; */
	/* right: 0; */
	/* display: flex; */
	/* flex-direction: row; */
}

.all_table {
  width: 26%;
  font-size: 1.25rem;
}

.sex_table {
  width: 50%;
  font-size: 1.25rem;
  margin: 0 8% 0 0;
}

.grade_table {
  width: 80%;
  font-size: 1.25rem;
  margin: 0 4% 0 0;
}

tr.table.head {
  background-color: #8a8bf3 !important;
  color: #FFF;
}

.grade_table tbody tr:nth-child(2n) {
  background-color: #EEF1FF;
}

.grade_table tbody tr:nth-child(2n+1) {
  background-color: #FFF;
}

.key {
  width: 45%;
  text-align: center;  
  padding: 1% 0;
}
.key.grade {
  width: 18%;
  text-align: center;  
  padding: 1% 0;
}

.val {
  text-align: center;
  padding: 1% 0;
}
.val.grade {
  text-align: center;
  padding: 1% 0;
  width: 16%;
}

.ring {
	flex: 1;
	padding: 0 20px;
}
.ring1 {
	flex: 1;
	padding: 0 20px;
}
.ring2 {
	flex: 1;
	padding: 0 20px;
}
.ring3 {
	flex: 1;
	padding: 0 20px;
}
.ring4 {
	flex: 1;
	padding: 0 20px;
}
.donutchart_name{
  padding-top: 0px;
  text-align: center;
  margin: 8% 0 0;
  font-size: 1.3rem;
  font-weight: 600;
}

.member_cnt {
  display: flex;
  flex-direction: column;
  padding: 0 6% 0 0;
}


/* 가입자수 표시 css */
#shiva
{
  width: 170px;
  height: 170px;
  background: #8a8bf3;
  border-radius: 100px;
  text-align: center;
  float: left;
  margin: 11% 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.count
{
  line-height: 180px;
  color: white;
  font-size: 80px;
}
.count_name{
  text-align: center;
  margin: 23% 0 0;
  font-size: 1.3rem;
  font-weight: 600;
}
#talkbubble {
  width: 120px;
  height: 80px;
  background: rgb(165, 234, 246);
  position: relative;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  float:left;
  margin:20px;
}
#talkbubble:before {
  content:"";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid red;
  border-bottom: 13px solid transparent;
}

.linker
{
  font-size : 20px;
  font-style : black;
}


/* 성비 파이그래프 */
/* html에 존재 */


