.header {
    text-align: center;
    margin-top: 5%;
}

.head-title {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 2% 0 1% 0;
}

.head-title.result {
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
    margin: 17% 0 5% 0;
}

.pages {
    display: flex;
    justify-content: center;
}

.first-step:not(.stepnow),
.second-step:not(.stepnow),
.third-step:not(.stepnow) {
    background-color: #D2DAFF;
    height: 5vh;
    width: 5vh;
    margin: 2% 3%;
    text-align: center;
    line-height: 180%;
    font-size: 1.5rem;
    font-weight: 600;
    transform: rotate(45deg);
}

.first-step,
.second-step,
.third-step {
    background-color: #aab6ff;
    height: 5vh;
    width: 5vh;
    margin: 2% 3%;
    text-align: center;
    line-height: 180%;
    font-size: 1.5rem;
    font-weight: 600;
    transform: rotate(45deg);
}

.page-number:not(.stepnow) {
    color: rgb(43, 43, 43);
    transform: rotate(315deg);
}
.page-number {
    color: #FFF;
    transform: rotate(315deg);
}

.event_hidden {
    display: none;
}

.result-msg {
    text-align: center;
    margin: 4% auto;
    font-size: 1.8rem;
}

.buttons {
    display: block;
    text-align: center;
}

.gofirst,
.gomain {
    margin: 2% 2% 1%;
    width: 11%;
    padding: 1.25%;
    border: 0px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    background: #8a8bf3;
    display: inline-block;
    text-align: center;
}

.gofirst a,
.gomain a {
    color: #FFF;
    text-decoration: none;
}