.header {
    text-align: center;
    margin-top: 5%;
}
.head-title {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 2%;
}
.pages {
    display: flex;
    justify-content: center;
}

.first-step,
.second-step,
.third-step {
    background-color: aqua;
    height: 5vh;
    width: 5vh;
    margin: 2% 3%;
    text-align: center;
    line-height: 180%;
    font-size: 1.5rem;
    font-weight: 600;
    transform: rotate(45deg);
}

.first-step:hover,
.second-step:hover,
.third-step:hover {
    color: white;
    background-color: rgb(72, 0, 255);
}

.page-number {
    transform: rotate(315deg);
}

.contents {
    /* display: flex; */
}

.contents-part1 {
    width: 100%;
}
.contents-part2 {
    width: 100%;
}

.ocr-imgs{
    height: 40%;
}

.ocr_img {
    /* width: 25%; */
    height: 48vh;
}

.member_hidden {
    display: none;
}