{%extends 'layout/event_ocr_layout.html'%}
{% load static %}

{%block style%}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href ="{% static '/css/ocr/event_ocr.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{%endblock%}

{%block page%}
<div class="pages">
    <div class="first-step">
        <div class="page-number">1</div>
    </div>
    <div class="second-step stepnow">
        <div class="page-number stepnow">2</div>
    </div>
</div>
{%endblock%}

{%block content%}
<div class="contents">
    <div class="contents-title">◆ 청첩장</div>
    <div class="accordion-area">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    {% if imgname == '' %}
                        <button
                            id="btn-one"
                            class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseOne"
                            aria-expanded="true"
                            aria-controls="collapseOne">
                        {% elif imgname != '' %}
                            <button
                                id="btn-one"
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseOne"
                                aria-expanded="true"
                                aria-controls="collapseOne">
                            {% endif %}
                            이미지 첨부
                        </button>
                    </h2>
                    {% if imgname == '' %}
                        <div
                            id="collapseOne"
                            class="accordion-collapse collapse show"
                            aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                        {% elif imgname != '' %}
                            <div
                                id="collapseOne"
                                class="accordion-collapse collapse"
                                aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                            {% endif %}
                            <div class="accordion-body">
                                <form
                                    action="/ocr/event_second"
                                    method="post"
                                    id="appform"
                                    enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <!-- <input type="file" name="uploadfile" id="uploadfile"/> -->
                                    <div class="drop-zone event">
                                        <span class="drop-zone__prompt">Drop file here or click to upload</span>
                                        <input type="file" name="uploadfile" id="uploadfile" class="drop-zone__input">
                                    </div>
                                    <input
                                        class="event_hidden"
                                        name="namebone"
                                        type="text"
                                        value="{{marry_dict.namebone}}">
                                    <input
                                        class="event_hidden"
                                        name="codebone"
                                        type="text"
                                        value="{{marry_dict.codebone}}">
                                    <input
                                        class="event_hidden"
                                        name="namebae"
                                        type="text"
                                        value="{{marry_dict.namebae}}">
                                    <input
                                        class="event_hidden"
                                        name="codebae"
                                        type="text"
                                        value="{{marry_dict.codebae}}">
                                    <button id="read_appImg" type="submit" onclick="">READ</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            {% if imgname == '' %}
                                <button
                                    id="btn-two"
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo"
                                    aria-expanded="false"
                                    aria-controls="collapseTwo">
                                {% elif imgname != '' %}
                                    <button
                                        id="btn-two"
                                        class="accordion-button"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    {% endif %}
                                    원본 이미지
                                </button>
                            </h2>
                            {% if imgname == '' %}
                                <div
                                    id="collapseTwo"
                                    class="accordion-collapse collapse"
                                    aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                {% elif imgname != '' %}
                                    <div
                                        id="collapseTwo"
                                        class="accordion-collapse collapse show"
                                        aria-labelledby="headingTwo"
                                        data-bs-parent="#accordionExample">
                                    {% endif %}
                                    <div class="accordion-body">
                                        <div class="ocr-imgs ori">
                                            {% if imgname == '' %}
                                                이미지를 READ해 주세요.
                                            {% else %}
                                                <img class="ocr_img event" src="/static/source/{{imgname}}"/>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button
                                        id="btn-fore"
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour"
                                        aria-expanded="false"
                                        aria-controls="collapseFour">
                                        바운딩 이미지
                                    </button>
                                </h2>
                                <div
                                    id="collapseFour"
                                    class="accordion-collapse collapse"
                                    aria-labelledby="headingFour"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="ocr-imgs bounding">
                                            {% if bounding_img == '' %}
                                                이미지를 READ해 주세요.
                                            {% else %}
                                                <img class="ocr_img event" src="/static/source/{{bounding_img}}">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFive">
                                    <button
                                        id="btn-five"
                                        class="accordion-button"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapseFive"
                                        aria-expanded="false"
                                        aria-controls="collapseFive">
                                        결과
                                    </button>
                                </h2>
                                <div
                                    id="collapseFive"
                                    class="accordion-collapse collapse show"
                                    aria-labelledby="headingFive">
                                    <div class="accordion-body">
                                        <div class="results">
                                            <form action="/ocr/event_update" method="post">
                                                {% csrf_token %}
                                                {% if bone_check == '' %}
                                                    <div class="ocr-imgs">이미지를 READ해 주세요.</div>
                                                {% elif bone_check == 2 %}
                                                    <div class="bone-title">
                                                        본인
                                                    </div>
                                                    <div class="result-text">
                                                        이름 :
                                                        <input
                                                            class="result-input"
                                                            name="namebone"
                                                            type="text"
                                                            value="{{marry_dict.namebone}}">
                                                        주민등록번호 :
                                                        <input
                                                            class="result-input"
                                                            name="codebone"
                                                            type="text"
                                                            value="{{marry_dict.codebone}}">
                                                    </div>
                                                    <label class="msg fail">OCR 결과, 고객의 이름이 정확하게 조회되지 않았습니다. 동일인물이 맞습니까?<input
                                                        class="input-check"
                                                        type="checkbox"
                                                        name="emqhs-name"
                                                        required="required"></label>
                                                {% elif bone_check == 1 %}
                                                    <div class="bone-title">
                                                        본인
                                                    </div>
                                                    <div class="result-text">
                                                        이름 :
                                                        <input class="result-input" name="namebone" type="text" value="{{marry_dict.namebone}}">
                                                        주민등록번호 :
                                                        <input
                                                            class="result-input"
                                                            name="codebone"
                                                            type="text"
                                                            value="{{marry_dict.codebone}}">
                                                    </div>
                                                    <div class="msg">OCR 결과, 고객의 이름이 청첩장에서 확인되었습니다</div>
                                                {% else %}
                                                    <div class="bone-title">
                                                        본인
                                                    </div>
                                                    <div class="result-text">
                                                        이름 :
                                                        <input
                                                            class="result-input"
                                                            name="namebone"
                                                            type="text"
                                                            value="{{marry_dict.namebone}}">
                                                        주민등록번호 :
                                                        <input
                                                            class="result-input"
                                                            name="codebone"
                                                            type="text"
                                                            value="{{marry_dict.codebone}}">
                                                    </div>
                                                    <label class="msg fail">OCR 결과 고객의 이름이 청첩장에서 조회되지 않습니다. 동일인물이 맞습니까?<input
                                                        class="input-check"
                                                        type="checkbox"
                                                        name="emqhs-name"
                                                        required="required"></label>
                                                {% endif %}
    
                                                {% if bae_check == '' %}
                                                    <div></div>
                                                {% elif bae_check == 2 %}
                                                    <div class="bae-title">
                                                        배우자
                                                    </div>
                                                    <div class="result-text">
                                                        이름 :
                                                        <input
                                                            class="result-input"
                                                            name="namebae"
                                                            type="text"
                                                            value="{{marry_dict.namebae}}">
                                                        주민등록번호 :
                                                        <input
                                                            class="result-input"
                                                            name="codebae"
                                                            type="text"
                                                            value="{{marry_dict.codebae}}">
                                                    </div>
                                                    <label class="msg fail">OCR 결과 고객의 배우자 이름이 정확하게 조회되지 않았습니다. 동일인물이 맞습니까?<input
                                                        class="input-check"
                                                        type="checkbox"
                                                        name="emqhs-name"
                                                        required="required"></label>
                                                    <button id="next_button" type="submit">NEXT</button>
                                                {% elif bae_check == 1 %}
                                                    <div class="bae-title">
                                                        배우자
                                                    </div>
                                                    <div class="result-text">
                                                        이름 :
                                                        <input
                                                            class="result-input"
                                                            name="namebae"
                                                            type="text"
                                                            value="{{marry_dict.namebae}}">
                                                        주민등록번호 :
                                                        <input
                                                            class="result-input"
                                                            name="codebae"
                                                            type="text"
                                                            value="{{marry_dict.codebae}}">
                                                    </div>
                                                    <div class="msg">OCR 결과, 고객의 배우자 이름이 청첩장에서 확인되었습니다</div>
                                                    <button id="next_button" type="submit">NEXT</button>
                                                {% else %}
                                                    <div class="bae-title">
                                                        배우자
                                                    </div>
                                                    <div class="result-text">
                                                        이름 :
                                                        <input
                                                            class="result-input"
                                                            name="namebae"
                                                            type="text"
                                                            value="{{marry_dict.namebae}}">
                                                        주민등록번호 :
                                                        <input
                                                            class="result-input"
                                                            name="codebae"
                                                            type="text"
                                                            value="{{marry_dict.codebae}}">
                                                    </div>
                                                    <label class="msg fail">OCR 결과 고객의 배우자 이름이 청첩장에서 조회되지 않습니다. 동일인물이 맞습니까?<input
                                                        class="input-check"
                                                        type="checkbox"
                                                        name="emqhs-name"
                                                        required="required"></label>
                                                    <button id="next_button" type="submit">NEXT</button>
                                                {% endif %}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{%endblock%}
{%block script%}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{%endblock%}
