<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

        <h1>
            {{menutitle}}
            <a href="coocr_upload">OCR</a>
        </h1>

        <form
            action="/coocr_upload"
            method="post"
            id="Coauthform"
            enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="uploadfile" id="uploadfile"/>
            <input type="submit" value="READ"/>
        </form>

        <div style="margin:50px 0;">
            <button onclick="uploadFile();">READ</button>
        </div>

        <div style="margin:50px 0;">
            <table width="100%">
                <tr>
                    <td width="50%">
                        {% if imgname == '' %}
                            이미지를 READ해 주세요.
                        {% else %}
                            <img src="/static/source/{{imgname}}" style="width:90%;"/>
                        {% endif %}
                    </td>
                    <td width="50%">
                        <pre>
                            {{resulttext}}
                        </pre>
                    </td>
                </tr>
            </table>
        </div>

    </body>
</html>