{%extends 'layout/layout.html'%}

{%block layout_style%}
    <link rel="stylesheet" href="/static/css/index.css">
{%endblock%}

{%block layout_title%}EMBRASSER{%endblock%}

{%block layout_content%}
        <div class="title">EMBRASSER</div>
        <div class="poam">
            <div class="poam-script">
                그대가 잡아준 손이<br>
                참 따뜻합니다<br>
                오랫동안 아주 오랫동안<br>
                같은 길을 바라보며<br>
                걸어가고 싶습니다<br>
            </div>
            <div class="poam-writter">
                - 서윤덕 <함께>
            </div>
        </div>

        <div class="back-img">
            <img id="back-img" src="/static/image/main_img.jpg"/>
        </div>
{%endblock%}
{%block layout_script%}
<script src="/static/js/index.js" type="text/javascript"></script>
{%endblock%}