<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

        <h1>
            {{menutitle}}
            <a href="coocr_upload">OCR</a>
        </h1>

        <form
            action="/coocr_upload"
            method="post"
            id="Coauthform"
            enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="uploadfile" id="uploadfile"/>
            <input type="submit" value="READ"/>
        </form>

        <div style="margin:50px 0;">
            <table width="100%">
                <tr>
                    <td width="50%">
                        {% if imgname == '' %}
                            이미지를 READ해 주세요.
                        {% else %}
                            <img src="/static/source/{{imgname}}" style="width:90%;"/>
                        {% endif %}
                    </td>
                    <td width="50%">
                        <pre>
                            <form action="/joinmember">
                                <input name="name" type="text" value="{{resulttext.name}}">
                                <input name="age" type="text" value="{{resulttext.age}}">
                                <input name="p_code" type="text" value="{{resulttext.p_code}}">
                                <input name="phone" type="text" value="{{resulttext.phone}}">
                                <input name="email" type="text" value="{{resulttext.email}}">
                                <input name="addr" type="text" value="{{resulttext.addr}}">
                                <input name="religion" type="text" value="{{resulttext.religion}}">
                                <input name="scholar" type="text" value="{{resulttext.scholar}}">
                                <input name="sex" type="text" value="{{resulttext.sex}}">
                                <input name="job" type="text" value="{{resulttext.job}}">
                                <input name="salary" type="text" value="{{resulttext.salary}}">
                                <input name="property" type="text" value="{{resulttext.property}}">
                                <input name="debt" type="text" value="{{resulttext.debt}}">
                                <input name="re_marry" type="text" value="{{resulttext.re_marry}}">
                                <input name="drink" type="text" value="{{resulttext.drink}}">
                                <input name="smoke" type="text" value="{{resulttext.smoke}}">
                                <input name="height" type="text" value="{{resulttext.height}}">
                                <input name="weight" type="text" value="{{resulttext.weight}}">
                                <input name="family" type="text" value="{{resulttext.family}}">
                                <button type="submit">등록하기</button>
                            </form>
                        </pre>
                    </td>
                </tr>
            </table>
        </div>

    </body>
</html>