<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>    <!-- AJAX -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>                             <!-- 자바스크립 -->
    <link rel="stylesheet" href="/static/css/member_list.css" />                                <!-- 멤버리스트 css -->
</head>
<body>
    <div class="content">
        <div class="header">
            <h2>{{ title }}</h2>
        </div>

        <div>
            <table class="board">
                <thead>
                    <tr class="header">
                        <th style="width:05%">순번</th>
                        <th style="width:12%">이름</th>
                        <th style="width:07%">성별</th>
                        <th style="width:12%">종교</th>
                        <th style="width:13%">직업</th>
                        <th style="width:10%">재산</th>
                        <th style="width:05%">키</th>
                        <th style="width:05%">체중</th>
                        <th style="width:05%">등급</th>
                        <th style="width:13%">매칭</th>
                        <th style="width:13%">옵션</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                {% if board_list %}
                    {% for data in board_list %}
                    <tr class="{% cycle '' 'even_bgcolor' %}">
                        <td style="text-align:center;" class="member_idx">{{ data.idx }}</td>
                        <td>{{ data.name }}</td>
                        <td>{{ data.sex }}</td>
                        <td>{{ data.religion }}</td>
                        <td>{{ data.job }}</td>
                        <td>{{ data.property }}</td>
                        <td>{{ data.height }}cm</td>
                        <td>{{ data.weight }}kg</td>
                        <td>{{ data.grade }}</td>
                        <td>
                            <select id="matching_{{ data.idx }}" onchange="selectBoxChange(this.value, '{{ data.idx }}');" matching="{{ data.matching }}">
                                <option value="0">None</option>
                                <option value="1">실패</option>
                                <option value="2">성공</option>
                            </select>
                        </td>
                        <td style="display: flex;justify-content: space-evenly;">
                            <button id="modify_{{data.idx}}" value="{{data.idx}}" onclick="modify_confirm(id)">수정</button>
                            <button id="delete_{{data.idx}}" value="{{data.idx}}" onclick="delete_confirm(id)">삭제</button>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr><td>가입한 회원이 없습니다.</td></tr>
                {% endif %}
                </tbody>
            </table>
        </div>

        <!-- Pagination -->
        <div style="text-align:center">
            <div class="pagination">
            
                <div style="width:35%; margin: 5px;">
                {% if board_list.has_previous %}
                    <a class="abutton" href="?page=1">맨 앞으로</a>
                    <a class="abutton" href="?page={{ board_list.previous_page_number }}">이전</a>
                {% endif %}
                </div>

                <div style="width:30%; margin: 5px;">
                {% for page in board_list.paginator.page_range %}
                    {% if page >= board_list.number|add:-2 and page <= board_list.number|add:2 %}
                    <span class="{% if page == board_list.number %}current{% endif %}">
                        <a href="?page={{ page }}">{{ page}}</a>
                    </span>
                    {% elif page >= board_list.number|add:-3 and page <= board_list.number|add:3 %}
                        ..
                    {% endif %}
                {% endfor %}
                </div>

                <div style="width:35%; margin: 5px;">
                {% if board_list.has_next %}
                    <a class="abutton" href="?page={{ board_list.next_page_number }}">다음</a>
                    <a class="abutton" href="?page={{ board_list.paginator.num_pages }}">맨 뒤로</a>
                {% endif %}
                </div>

            </div>  
            <div>
                <input id="search_word"><button onclick = " location.href = 'search?word=' + document.getElementById('search_word').value">검색</button>
                <br>(이름 / 성별 / 직업 / 등급 / 종교 )검색 가능합니다.
            </div>
        </div> 
    </div>
</body>
<script src="../static/js/member_delete.js"></script>
<script src="../static/js/member_matching.js"></script>
</html>