{%extends 'layout/member_ocr_layout.html'%}
{% load static %}

{%block style%}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href ="{% static '/css/ocr/memer_ocr.css' %}">
{%endblock%}

{%block page%}
<div class="pages">
    <div class="first-step stepnow">
        <div class="page-number stepnow">1</div>
    </div>
    <div class="second-step">
        <div class="page-number">2</div>
    </div>
    <div class="third-step">
        <div class="page-number">3</div>
    </div>
</div>
{%endblock%}

{%block content%}
<div class="contents">
    <div class="contents-title">◆ 신청서</div>
    <div class="accordion-area">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    {% if imgname == '' %}
                    <button id="btn-one" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {% elif imgname != '' %}
                    <button id="btn-one" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {% endif %}
                        이미지 첨부
                    </button>
                </h2>
                {% if imgname == '' %}
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                {% elif imgname != '' %}
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                {% endif %}
                    <div class="accordion-body">
                        <form
                            action="/ocr/coocr_first"
                            method="post"
                            id="appform"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="drop-zone">
                                <span class="drop-zone__prompt">Drop file here or click to upload</span>
                                <input type="file" name="uploadfile" id="uploadfile" class="drop-zone__input">
                            </div>
                            <button id="read_appImg" type="submit" onclick="">READ</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    {% if imgname == '' %}
                    <button id="btn-two" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    {% elif imgname != '' %}
                    <button id="btn-two" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    {% endif %}
                        원본 이미지
                    </button>
                </h2>
                {% if imgname == '' %}
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                {% elif imgname != '' %}
                <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                {% endif %}
                    <div class="accordion-body">
                        <div class="ocr-imgs ori">
                            {% if imgname == '' %}
                                이미지를 READ해 주세요.
                            {% else %}
                                <img class="ocr_img" src="/static/source/{{imgname}}"/>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button id="btn-three" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    전처리 이미지
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="ocr-imgs pre">
                            {% if pre_img == '' %}
                                이미지를 READ해 주세요.
                            {% else %}
                                <img class="ocr_img" src="/static/source/{{pre_img}}">
                            {% endif %}
                        </div>  
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button id="btn-fore" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        바운딩 이미지
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="ocr-imgs bounding">
                            {% if bounding_img == '' %}
                                이미지를 READ해 주세요.
                            {% else %}
                                <img class="ocr_img" src="/static/source/{{bounding_img}}">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button id="btn-five" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        결과
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse show" aria-labelledby="headingFive">
                    <div class="accordion-body">
                        <div class="results">
                            <form action="/ocr/coocr_second" method="post">
                                {% csrf_token %}
                                {% if imgname == '' %}
                                <div class="ocr-imgs">이미지를 READ해 주세요.</div>
                                {% else %}
                                <input class="result-input name" class="result-input" name="name" type="text" value="{{resulttext.name}}">
                                (<input class="result-input sex" name="sex" type="text" value="{{resulttext.sex}}">, 
                                <input class="result-input age" name="age" type="text" value="{{resulttext.age}}">)<br>
                                <div class="result-text">
                                    주민등록번호 : <input class="result-input" name="p_code" type="text" value="{{resulttext.p_code}}"><br>
                                    주&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;소 : <input class="result-input addr" name="addr" type="text" value="{{resulttext.addr}}"><br>
                                    휴대전화번호 : <input class="result-input" name="phone" type="text" value="{{resulttext.phone}}">
                                    이&nbsp;&nbsp;&nbsp;메&nbsp;&nbsp;&nbsp;일 : <input class="result-input" name="email" type="text" value="{{resulttext.email}}"><br>
                                    신&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;장 : <input class="result-input" name="height" type="text" value="{{resulttext.height}}">
                                    몸&nbsp;&nbsp;&nbsp;무&nbsp;&nbsp;&nbsp;게 : <input class="result-input" name="weight" type="text" value="{{resulttext.weight}}"><br>
                                    학&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;력 : <input class="result-input" name="scholar" type="text" value="{{resulttext.scholar}}"><br>
                                    직&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;업 : <input class="result-input" name="job" type="text" value="{{resulttext.job}}"><br>
                                    연&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;봉 : <input class="result-input" name="salary" type="text" value="{{resulttext.salary}}"><br>
                                    부&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;채 : <input class="result-input" name="property" type="text" value="{{resulttext.property}}"><br>
                                    재&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;산 : <input class="result-input" name="debt" type="text" value="{{resulttext.debt}}"><br>
                                    종&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;교 : <input class="result-input" name="religion" type="text" value="{{resulttext.religion}}"><br>
                                    음주 횟수(월) : <input class="result-input" name="drink" type="text" value="{{resulttext.drink}}">
                                    흡&nbsp;연&nbsp;&nbsp;여&nbsp;부 : <input class="result-input" name="smoke" type="text" value="{{resulttext.smoke}}"><br>
                                    재&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;혼 : <input class="result-input" name="re_marry" type="text" value="{{resulttext.re_marry}}">
                                    가&nbsp;족&nbsp;&nbsp;관&nbsp;계 : <input class="result-input" name="family" type="text" value="{{resulttext.family}}">
                                </div>
                                <button id="next_button" type="submit">NEXT</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{%block script%}

{%endblock%}